<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <div class="logout-container">
      <h1>Has cerrado sesion</h1>
      <p>Haz click abajo para iniciar sesion de nuevo</p>
      <a href="admin/login" class="btn">Log In</a>
    </div>
  </body>
</html>
