<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="logout-container">
        <h1>Has cerrado sesion</h1>
        <p>Haz click abajo para iniciar sesion de nuevo</p>
        <a href="admin/login" class="btn">Log In</a>
    </div>
</body>
</html>