<footer class="footer">
    &copy; 2025 PixelRushGames - Todos los derechos reservados.
    <div>
        <a href="/dmca" class="dmca-footer">DMCA</a>
        <span> | </span>
        <a href="/contact" class="dmca-footer">Contacto</a>
    </div>
</footer>