<a href="/"><img class="header-logo" src="/assets/logo-header.png" alt="Logo PixelRushGames"></img></a>

<nav>
    <a href="/">Inicio</a>
    <a href="#apk">Juegos APK</a>
    <a href="#pc">Juegos PC</a>
    <a href="#linkcaido">Reportar link caido</a>
</nav>