<!DOCTYPE html>
<html lang="en">

<head>
    <title>DMCA | PixelRushGames</title>
    <%- include('partials/head') %>
</head>

<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <main>
        <h1>DMCA</h1>
        <h5> www.blizzboygames.net está de acuerdo con 17 USC § 512 y la Digital Millennium Copyright Act (“DMCA”).
            Es nuestra política responder a cualquier notificación de infracción y tomar las acciones apropiadas bajo la Digital Millennium Copyright Act (“DMCA”) y otras leyes de propiedad intelectual aplicables.
            Si su material con derechos de autor se ha publicado en www.blizzboygames.net o si enlaces a su material con derechos de autor se devuelven a través de nuestro motor de búsqueda y desea que ese material sea removido, usted debe proporcionar una comunicación escrita que detalla la información que se indica en la siguiente sección. Tenga en cuenta que usted será responsable de los daños y perjuicios (incluidos gastos y honorarios de abogados) si tergiversa información que figura en nuestro sitio que está infringiendo sus derechos de autor. Le sugerimos que primero se ponga en contacto con un abogado de asistencia legal en esta materia.
            Los siguientes elementos deben ser incluidos en su demanda por infracción de derechos de autor:
            Proporcionar evidencia de la persona autorizada para actuar en nombre del titular de un derecho exclusivo que presuntamente se ha infringido.
            Proporcionar información de contacto suficiente para que podamos comunicarnos con usted. También debe incluir una dirección de correo electrónico válida.
            Debe identificar detalladamente el trabajo cuyos derechos de autor han sido violados y que incluye al menos un término de búsqueda en las que el material aparece en los resultados de búsqueda de www.blizzboygames.net.
            Una declaración de que la parte reclamante cree de buena fe que el uso del material descrito en la reclamación no está autorizado por el propietario del copyright, su agente o la ley.
            Una declaración que afirme que la información de la notificación es exacta, y bajo pena de perjurio, que la parte reclamante está autorizada a actuar en nombre del titular de un derecho que presuntamente se ha infringido.
            Debe ser firmado por la persona autorizada para actuar en nombre del titular de un derecho que presuntamente se ha infringido.
            Enviar el aviso de infracción por un correo electrónico a blizzboygames@gmail.com
            Por favor, espere entre 3 y 7 días hábiles para una respuesta. Tenga en cuenta que el envío de su queja a otras partes, como nuestro proveedor de servicios de Internet no acelerará su solicitud y puede resultar en una respuesta retrasada o nula debido a que la denuncia no pudo haber sido presentada correctamente.
            Esta Página web no contiene ningún tipo de fichero. Todos los enlaces dentro del sitio son externos y funcionan como una referencia hacia otros sitios que son propiedad de terceros, cuyo control es ajeno a www.blizzboygames.net, y el contenido de estos es responsabilidad exclusiva de sus respectivos dueños. Esta página web es únicamente informativa, que tiene como propósito compartir.
        </h5>
    </main>

    <%- include('partials/footer') %>
</body>

</html>