:root {
  --primary-color: #ad1428;
  --background-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/header-bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(66, 0, 0, 0.15);
  background-blend-mode: overlay;
  border-bottom: 1px solid black;
  box-shadow: #666 0px 0px 5px;
  padding-bottom: 1rem;
}

.header-logo {
  width: 270px;
  padding: 1rem 0 1rem;
  transition: transform 0.2s ease;
}

.header-logo:hover {
  transform: rotate(1deg) scale(1.02);
}

header nav {
  display: flex;
  background-color: rgba(39, 5, 5, 0.5);
  backdrop-filter: blur(1px);
  padding: 0.3rem 0;
  padding-bottom: 0.4rem;
  gap: 4rem;
  width: 100%;
}

header nav a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
  text-shadow: #000000 1.5px 1.5px 0px;
  line-height: 1;
}

header nav a:hover {
  transform: translateY(-0.5px);
  text-shadow: #000000 3px 3px 1px;
}

.search-section {
  display: flex;
  justify-content: center;
  grid-column: 3;
}

.search-form {
  width: 60%;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: -1px 0px 0 var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

.search-input {
  width: 80%;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  font-size: 0.95rem;
  background-color: #dacdcd;
  transition: width 0.2s ; /* Transición suave */
}

.search-input:focus {
  background-color: white;
  width: 100%;
}

.search-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  background-color: #c42b38;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-form button:hover {
  background-color: #d42929;
}

.search-form button svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.header-text {
  text-align: center; /* Centra el texto dentro del contenedor */
  margin-top: 1rem; /* Añade espacio superior */
}

.main-banner h2 {
  margin: 0;
  font-size: 2rem;
}

main {
  flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem;
  font-size: 0.85rem;
  color: #aaa;
}

.header {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columnas */
  align-items: center; /* Centra los elementos horizontalmente */
}

.header-logo,
nav {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente */
}

.delete-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #1f1f1f;
  border-radius: 8px;
  text-align: center;
}

.delete-btn,
.cancel-btn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s;
}

.delete-btn {
  background-color: #f92f35;
  color: white;
}

.delete-btn:hover {
  background-color: #d42929;
}

.cancel-btn {
  background-color: #444;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.cancel-btn:hover {
  background-color: #333;
}

.delete-link {
  color: #f92f35;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
}

.delete-link:hover {
  text-decoration: underline;
}

.grid-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: #7e7e7e 0 0 5px;
}

.page-title h2 {
  font-size: 1.7rem;
  font-weight: 400;
  color: black;
  margin: 1rem 2rem;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  padding: 0 2rem 2rem;
  width: 100%;
  justify-items: center;
}

.games-grid a {
  text-decoration: none;
}

.no-results {
  grid-column: 1 / -1; /* Ocupa todas las columnas de la grid */
  text-align: center; /* Centra el texto */
  font-size: 1.5rem; /* Tamaño del texto */
  color: #555; /* Color del texto */
  padding: 2rem; /* Espaciado alrededor del mensaje */
  background-color: #f9f9f9; /* Fondo opcional */
  border: 1px solid #ddd; /* Borde opcional */
  border-radius: 8px; /* Bordes redondeados */
}

.game-card {
  width: 180px;
  border-radius: 2px;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: #4d4d4d 0 0 5px;
  transition: transform 0.2s ease;
}

.game-card:hover {
  transform: scale(1.01); /* Aumenta el tamaño al pasar el mouse */
  box-shadow: #000000 0 0 5px;
}

.game-card h1 {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  margin: 0;
  padding-bottom: 5px;
}

.sep {
  display: block;
  justify-self: center;
  height: 1px;
  width: 90%;
  background-color: rgb(226, 217, 217);
}

.game-card-genre {
  font-size: 0.7rem;
  color: white;
  margin: 0 5px 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.game-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ebebeb;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

.login-container h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--accent-color);
}

.logo-search-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 3 columnas: espacio | logo | espacio */
  grid-template-rows: auto;
  align-items: center;
  width: 100%;
}

.logo-container {
  grid-column: 2; /* Coloca el logo en la columna del medio */
  justify-self: center; /* Centra el logo en su celda */
}

.bd-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cont-container {
  width: 100%;
  padding: 1rem;
  margin: 0 0 0 auto;
  margin-left: 0;
  background-color: rgb(255, 250, 250);
  box-shadow: #666 0 0 5px;
}

.br-td {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(163, 163, 163);
  margin: 0 0 1rem;
}

.cblack {
  color: black;
}

.dt-brln {
  white-space: pre-line;
}

.br-tdt {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(163, 163, 163);
  margin: 0;
}

.br-tdtd {
  align-self: center;
  display: block;
  height: 1px;
  width: 95%;
  background-color: rgb(163, 163, 163);
  margin: 0 0 1rem;
}

.dmca-footer {
  color: #aaa;
  text-decoration: none;
}

.dmca-footer:hover {
  text-decoration: underline;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.form-content {
  width: 80%;
  border-radius: 2px;
  box-shadow: #000000 0 0 10px;
  padding: 2rem;
  margin: 2rem;
}

/* Botón hamburguesa */
.menu-toggle {
  grid-column: 3;
  padding: 0;
  display: none;
  background: none;
  border: none;
  font-size: 2.2rem;
  color: white;
  cursor: pointer;
}

.menu-toggle:focus {
  outline: none; /* Elimina el contorno al hacer clic */
}
.menu-toggle:active {
  transform: scale(0.95); /* Efecto de pulsación */
}

.search-container-mobile {
  display: none;
}

.search-section-mobile {
  display: flex;
  justify-content: center;
}

.search-form-mobile {
  width: 100%;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

.search-input-mobile {
  width: 80%;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  font-size: 0.95rem;
  background-color: #dacdcd;
  transition: width 0.2s ; /* Transición suave */
}

.search-input-mobile:focus {
  background-color: white;
  width: 100%;
}

.search-form-mobile button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  background-color: #c42b38;
  border: none;
  cursor: pointer;
}

.search-form-mobile button:active {
  background-color: #d42929;
}

.search-form-mobile button svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  padding: 2px 6px;
  background: #444;
  border-radius: 4px;
  margin: 0 1px;
  transition: all 0.2s;
}

/* Contenedor de flechas */
.pagination-arrow {
  display: inline-flex;
  align-items: center;
}

/* Hover y estados activos */
.pagination a:hover {
  background: #2e2e2e;
  transform: translateY(-1px);
}

.pagination a.active {
  background: var(--primary-color);
  padding: 2px 8px;
}

/* SVG - Hereda el color del texto */
.pagination-arrow svg {
  color: inherit;
  stroke: currentColor;
}

/* Texto oculto solo para lectores de pantalla */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Sección de Recomendados */
.recommended-section {
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

.recommended-section h2 {
  font-size: 1.3rem;
  text-align: center;
  margin: 10px 0 5px;
  color: #000000;
}

.recommended-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  gap: 10px;
  width: 100%;
  justify-items: center;

  margin: 0 auto;
}

.recommended-card {
  background: var(--primary-color);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s;
  text-decoration: none;
  width: 100%;
}

.recommended-card:hover {
  transform: translateY(-3px);
}

.recommended-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.recommended-card h3 {
  font-size: 1rem;
  margin: 5px 0 8px;
  padding: 0 5px;
  text-align: center;
  color: #fff;
}

.bottom-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {

  .game-card {
    width: 150px;
  }

  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0 1rem 2rem;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {

  .recommended-card img {
    height: 200px;
  }

  .menu-toggle {
    display: block;
  }

  .search-container {
    display: none;
  }

  .search-container-mobile {
    display: flex;
    padding-bottom: 10px;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .nav.show {
    display: flex;
  }

  .nav a {
    margin: 10px 0;
  }

  header {
    padding: 0;
    margin: 0;
  }

  .game-card {
    width: 140px;
  }

  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    padding: 0 1rem 2rem;
    gap: 0.5rem;
  }
}

@media (max-width: 550px) {

  .recommended-card img {
    height: 150px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer div {
    margin-top: 0.5rem;
  }

}

@media (max-width: 467px) {

  .game-card {
    width: 100%;
  }

  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(fit-content, 1fr)); /* Cambia el tamaño mínimo de las columnas */
    padding: 0 1rem 2rem;
    gap: 0.5rem;
  }

  .bd-container {
    flex-direction: column;
  }

  .left-pc {
    display: none;
  }

  .bottom-mobile {
    display: flex;
  }

  .recommended-section {
    width: 100%;
  }
  
  .recommended-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
    justify-items: center;
  }

}

@media (max-width: 425px) {

  .cont-container {
    width: 100%;
    margin: 0;
  }

  .form-content {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
  
  .header-logo {
    width: 200px;
    padding: 15px 0;
    transition: transform 0.2s ease;
  }

  .page-title h2 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .game-card {
    width: 120px;
  }

  .game-card h1 {
    font-size: 1rem;
  }
  
  .game-card-genre {
    font-size: 0.5rem;
  }

  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 0 1rem 2rem;
    gap: 0.5rem;
  }
}

@media (max-width: 407px) {

  .game-card {
    width: 100%;
  }

  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(fit-content, 1fr)); /* Cambia el tamaño mínimo de las columnas */
    padding: 0 1rem 2rem;
    gap: 0.5rem;
  }

}

@media (max-width: 375px) {

  .cont-container {
    padding: 1rem;
  }

  .logo-search-container {
    grid-template-columns: auto 1fr 1fr;
  }

  .logo-container {
    grid-column: 1;
    margin-left: 20px;
  }

  .header-logo {
    width: 180px;
  }

  .game-card {
    width: 150px;
  }

  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cambia el tamaño mínimo de las columnas */
    padding: 0 1rem 2rem;
  }

}

@media (max-width: 320px) {
  
  .grid-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .page-title h2 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .game-card {
    width: 120px;
  }

  .game-card h1 {
    font-size: 1rem;
  }
  
  .game-card-genre {
    font-size: 0.5rem;
  }

  .games-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Cambia el tamaño mínimo de las columnas */
    padding: 0 1rem 2rem;
  }

}